$themeGradient: linear-gradient(
		45deg,
		hsl(230deg 80% 30%) 0%,
		hsl(285deg 80% 30%) 100%
	);
$themePrimary:#43188a;

* {
	box-sizing: border-box;
}
body,
html {
	margin: 0;
	font-size: min(calc(1vw + 12px), 16px);
	font-family: ui-sans-serif, system-ui;
}
.wrapper {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	//justify-content: center;
	min-width: min-content;
}
.container {
	flex: 0 1 760px;
	padding: 3rem;
	max-width: 760px;
}

input {
	border-top-style: hidden;
	border-right-style: hidden;
	border-left-style: hidden;
	border-bottom-style: hidden;
	background-color: #eee;
}
.button,
input {
	display: inline-block;
	overflow: visible;
	outline: none;
	color: #000;
	background-color: #fff;
	padding: calc(1em - 2px);
	border-radius: 1em;
	box-shadow: 0 0.25em 2em -0.25em lighten($themePrimary,30%);
	border: 2px solid #ddd;
}
.hero {
	width: 100%;
	padding: 3em;
	text-align: left;
	color: #fff;
	height: 80vh;
	position: relative;
	background: $themeGradient;
	overflow: hidden;
	.buttons {
		> * {
			margin-bottom: 2em;
		}
	}
}
.bgImage {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	svg,canvas{
		height: 100%;
		width: 100vw;
		overflow:visible;
		//perspective:500px;
		//transform: translateX(-33%) rotateX(70deg) scale(1.5);
		
		//animation: orbit infinite 10s linear;
		//transform-origin: center;
		
	}
	&.noise {
		background-image: url(https://fixthephoto.com/images/content/photoshop-film-grain-overlay-281611833342.jpg);
		background-size: cover;
		mix-blend-mode: screen;
		opacity: 0.1;
	}
	&.fog {
		opacity: 0.1;
		background: radial-gradient(circle at bottom, transparent, #3d0f8a 90%);
	}
	&.heroContent {
		height: 80%;
		margin:auto;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: flex-start;
		z-index: 1;
		gap: 1em;
	}
}

@keyframes orbit {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}
.recentReviews {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}

.card{
	h3{
		text-decoration-color: $themePrimary;
		text-decoration: underline;
	}
	box-shadow:0px 0px 5px 1px $themePrimary;
	padding:1.5rem;
	//padding-top:1rem!important;
	padding-bottom:0rem!important;
	border-radius:1rem;
}

.miniReview {
	display: block;
	flex: 0 0 min-content;
	.productImage {
		height: 200px;
		width: 200px;
		background:$themeGradient;
		border-radius:0.5rem;
		margin-top: 0.5rem;
	}
	h3 {
		margin-top: 0;
		margin-bottom: 0.5rem;
	}
	.review {
		max-height: 150px;
		overflow: hidden;
		position: relative;
		&::after {
			content: "";
			display: block;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			height: 4rem;
			background: linear-gradient(#fff0, #ffff);
		}
	}
}

figure {
	margin-inline-start: 0;
	margin-inline-end: 0;
}

h1,h2,h3{
	margin:0;
 	/*margin-top:0.1rem;
	margin-bottom:0.1rem;*/

}

h1{
	font-size:max(3em, min(10vh, 10vw));
}

/*All im showing off is the next 9 css things*/
.btn-juicy {
	//box-shadow: 5px 10px#aaa;
	transition: 0.2s;
}
$hoverDarkerAmount:10%;
.btn-juicy:not(input):hover:active {
	transition: 0.1s;
	box-shadow: 1px 2px darken($themePrimary,$hoverDarkerAmount);
	transform: translate(5px, 10px);
}
.btn-juicy:hover {
	box-shadow: 6px 12px darken($themePrimary,$hoverDarkerAmount);;
	transform: translate(-1px, -2px);
}
/*All im showing off is the next 9 css things*/
.btn-juicy {
	text-decoration: none;
	//box-shadow: 2px 4px #000a;
}
.btn-juicy:not(input):hover:active {
	box-shadow: 1px 2px 0px 0px ($themePrimary,$hoverDarkerAmount);
	transform: translate(1px, 2px);
}
.btn-juicy:hover, .btn-juicy:focus {
	box-shadow: 3px 6px 1px 0px darken($themePrimary,$hoverDarkerAmount);;
	transform: translate(-1px, -2px);
}


@media(max-width:760px){
	$xsPadding: 6vw;
	.card{
		border-radius:$xsPadding;
		padding:$xsPadding;
	}
	.satalite{
	     animation:none!important;
	}
	body{
		font-size:16px;
	}
     .container {  
		width :100%;
		padding-left:$xsPadding;
		padding-right:$xsPadding;
	}
	.miniReview{
		flex-grow:1;
	}
	.hero .heroContent{
		padding:$xsPadding;
	}
}
